body {
    font-family: sans-serif;
}
button{
    margin:0 auto;
    padding: 1px 6px;
    border:2px 2px;
}

@media (max-width:576px) {
    .currentTemperature{
        font-size: 34px;
    }
}
